.section--department{
    background-color: transparent;
    align-self: center;
}
.container{
    background-color: transparent;
}
.submenuList{
    background-color: transparent;
}
.itemContainer--category{
    background-color: transparent;
}